@media (max-width: 1024px) {
  .header {
    height: 100px;
  }
  .header-logo {
    width: 100px;
    height: 67px;
  }

  .header_block p {
    max-width: 300px;
    text-align: center;
  }

  .header_block a {
    margin-left: 20px;
  }
  .main_block h1 {
    margin-top: 30px;
    left: calc(50% - 320px);
    font-size: 48px;
  }
  .main_block_btn {
    bottom: 30px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    font-size: 24px;
  }

  .menu_list ul {
    padding-left: 10px;
  }
  .list li {
    font-size: 20px;
  }
  .list_item::before {
    content: url(../img/icon/Ellipse\ 1.png);
    margin-right: 20px;
  }
  .discont_title {
    margin-top: 100px;
  }
  .discont_text {
    margin-bottom: 50px;
  }

  .truck-title {
    margin-bottom: 10px;
  }
  .truck_cards {
    justify-content: space-evenly;
    gap: 20px;
  }

  .card {
    margin-bottom: 0px;
  }

  .section-trucks {
    margin-top: 20px;
  }

  .discount-block {
    width: 250px;
    height: 250px;
  }
  .review_block {
    margin-top: 30px;
    margin-left: 30px;
    grid-template-rows: repeat(3, 80px);
  }
  .review-title {
    padding-top: 26px;
    font-size: 60px;
  }
  .review-subtitle {
    font-size: 36px;
  }
  .review-text {
    font-size: 20px;
    margin-top: 20px;
  }

  .review-button-text {
    font-size: 16px;
    padding: 0 5px 10px;
  }

  .link-btn {
    margin: 30px 0 30px 60px;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 2.2;
  }

  .footer_text {
    max-width: 270px;
    font-size: 16px;
  }
}

@media (max-width: 816px) {
  .service_menu {
    margin: 60px 0;
  }
  .discont_title {
    margin-top: 80px;
  }
  .discont_text {
    margin-bottom: 60px;
  }
  .card_text {
    font-size: 16px;
  }
  .service_card {
    gap: 30px;
  }
}
/*===================================768px======================*/
@media (max-width: 768px) {
  .header {
    height: 90px;
  }

  .header_block {
    justify-content: space-around;
  }
  .header_text {
    display: none;
    visibility: hidden;
  }
  .header-link {
    font-size: 20px;
  }
  .header-link::before {
    transform: translateY(-2px);
  }
  .service_menu {
    margin-top: 30px;
  }
  .service_menu li {
    padding-bottom: 10px;
  }
  .main_block h1 {
    margin-top: 20px;
    left: calc(50% - 220px);
    font-size: 36px;
  }
  .truck-title {
    font-size: 30px;
    margin: 10px 0;
  }
  .link-btn {
    margin-top: 20px;
    font-size: 18px;
  }

  .card_text {
    line-height: 1.17;
  }

  .discount_review {
    margin-bottom: 80px;
  }

  .discont_title {
    padding: 0 10px;
  }

  .review_discount {
    height: 100%;
    position: relative;
    display: inline-flex;
  }

  .discount-block {
    width: 100vw;
    height: 80px;
    position: absolute;
  }
  .discount-block h2,
  h3,
  h4 {
    display: inline-block;
  }
  .review-subtitle {
    font-size: 20px;
    padding-left: 10px;
  }
  .review-title {
    padding-top: 10px;
    font-size: 40px;
  }
  .review_block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 80px;
  }

  .title_acardion {
    transform: translateY(-50px);
  }

  .avtar_block {
    display: flex;
    flex-direction: row;
    transform: translateY(-50px);
    gap: 12px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  .avtar_block h5,
  p {
    font-size: 20px;
    line-height: 1.8;
  }
  .review-item {
    position: relative;
  }
  .review-button-text {
    font-size: 16px;
    padding: 0 5px 10px;
    line-height: 1.17;
    transform: translateY(-60px);
    margin-left: 65px;
  }
  .link-btn {
    margin: 0 10px;
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 160px;
    height: 32px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 2.2;
  }

  .footer-block {
    margin: 10px 20px;
  }
  .footer-link {
    font-size: 18px;
  }
  .footer_text {
    max-width: 280px;
    margin-left: 50px;
  }

  .social_icon {
    margin-top: 30px;
    padding-top: 0;
  }
  .footer-copirait {
    padding-top: 15px;
  }
}
/*=============================MAX_WIDTH 596PX==============================*/
@media (max-width: 596px) {
  .header-link {
    font-size: 18px;
  }
  .header-link::before {
    font-size: 16px;
    transform: translateY(-4px);
  }
  .main_block h1 {
    margin-top: 30px;
    left: calc(50% - 180px);
    font-size: 30px;
  }
  .main_block_btn {
    bottom: 15px;
    width: 180px;
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
  }
  .service_menu {
    margin-top: 20px;
  }
  .service_menu li {
    font-size: 16px;
  }
  .menu_list li {
    margin-bottom: 10px;
  }
  .card {
    height: 240px;
    margin: 0 5px;
  }
  .discont_title {
    font-size: 28px;
  }
  .discont_text {
    font-size: 22px;
  }
  .footer-block {
    margin: 10px 10px;
    flex-direction: row-reverse;
  }
  .footer-link {
    font-size: 14px;
    padding-left: 10px;
  }
  .footer-link::before {
    content: url(../img/icon/tel.svg);
    margin-left: -15px;
  }
  .footer_text {
    margin-left: 0px;
    padding: 5px;
  }
  .social_icon {
    margin-top: 20px;
  }
  .vk {
    margin-right: 0;
  }

  .footer_text {
    max-width: 100%;
    font-size: 10px;
  }
  .footer-copirait {
    padding-left: 0px;
    font-size: 10px;
  }
}

/*=============================MAX_WIDTH 454PX==============================*/

@media (max-width: 454px) {
  .header {
    height: 50px;
  }
  .header-logo {
    width: 60px;
    height: 41px;
    margin-top: 5px;
  }

  .header-link {
    display: inline-block;
    width: 185px;
    height: 30px;
    text-align: center;
    line-height: 2.5;
    font-size: 12px;
    background-color: rgb(222, 222, 230);
    border-radius: 8px;
  }

  .header-link:hover {
    background-color: rgb(203, 203, 209);
  }

  .header-link::before {
    content: url(../img/icon/phone1.svg);
    margin-left: -20px;
    transform: translateY(-3px);
  }
  .main_block h1 {
    margin-top: 10px;
    left: calc(50% - 150px);
    font-size: 24px;
  }
  .list_item::before {
    margin-right: 5px;
  }
  .main_block_btn {
    display: none;
    line-height: 1.5;
  }
  .menu_btn {
    position: static;
    display: inline-block;
    border-radius: 5px;
    align-items: center;
    margin: 0 auto;
  }
  .service_menu {
    margin: 40px 0;
  }
  .section-trucks {
    margin-top: 0px;
  }
  .track-title {
    margin-bottom: 0;
  }
  .track_text {
    margin: 10px 0;
  }
  .discount-block {
    height: 60px;
  }
  .service_card {
    gap: 10px;
  }
  .discont_title {
    margin-top: 30px;
  }
  .discont_text {
    margin-bottom: 40px;
  }
  .card_title {
    margin-top: 25px;
  }
  .review-title {
    font-size: 28px;
    padding-left: 5px;
  }
  .review-subtitle {
    padding-left: 0;
    font-size: 18px;
  }
  .review-text {
    padding: 0;
    font-size: 18px;
  }
  .review_block {
    margin-top: 50px;
  }
  .reviews-title {
    font-size: 28px;
  }

  .footer-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
  }
  .footer_text {
    text-align: center;
    font-size: 15px;
  }
  .social_icon {
    padding-top: 0px;
  }
  .footer-copirait {
    padding-top: 0;
    font-size: 10px;
  }
}

/*=============================MAX_WIDTH 320PX==============================*/

@media (max-width: 320px) {
  .header {
    height: 70px;
  }
  .header-logo {
    width: 80px;
    height: 55px;
    margin-top: 5px;
  }

  .main_block h1 {
    margin-top: 10px;
    left: calc(50% - 140px);
    font-size: 22px;
    letter-spacing: 0.5;
  }

  .main_block_btn {
    display: none;
  }
  .service_menu {
    margin-top: 20px;
  }
  .service_menu li {
    font-size: 12px;
  }
  .menu_list li {
    margin-bottom: 10px;
  }

  .menu_btn {
    position: static;
    display: inline-block;
    border-radius: 5px;
    align-items: center;
    margin: 0 auto;
  }

  .card:last-child {
    margin-bottom: 25px;
  }
  .card p {
    font-size: 12px;
    padding-top: 5px;
  }
  .avtar_block h5,
  p {
    font-size: 16px;
  }

  .footer-copirait {
    padding-left: 0px;
    font-size: 10px;
  }
}
